@import './common';

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 30;
  margin: 0 auto;
}

.form__thumb {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0000ff;
  text-align: center;
  margin-bottom: 10px;
}

.search-form {
  display: inline-block;
  position: relative;
}

.search-form input {
  border-radius: 5px;
  height: 40px;

  padding-left: 10px;
}

.search-form button {
  position: absolute;
  top: 2;
  right: 2;
  border: none;

  border-radius: 5px;

  width: 36px;
  height: 36px;

  background-image: url(/src/images/search_black_24dp.svg);
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  transition: all 250ms ease;

  &:hover {
    background-color: rgba(128, 128, 128, 0.3);
  }
}

.more__btn {
  // margin-top: 20px;
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;

  background-color: #0000ff;

  transition: all 250ms ease;

  &:hover {
    transform: scale(1.05);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  margin: -5px;

  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin: 5px;
  max-width: calc((100% / 3) - 10px);
  height: auto;

  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;

  transition: all 250ms ease;

  &:hover {
    transform: scale(1.02);

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.photo-card__link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  text-decoration: none;
  color: inherit;
}

.photo-card img {
  flex-grow: 1;
  width: 100%;
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
